.sp-menu {
  all: unset;
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;

  span {
    width: 22px;
    height: 1px;
    background-color: #fff;
    display: block;
    @media screen and (min-width: width(sp)) {
      display: none;
    }
  }
  &.close {
    span {
      background-color: #000;

      &:nth-child(2) {
        display: none;
      }

      &:first-child {
        transform: rotate(45deg);
      }

      &:last-child {
        transform: rotate(-45deg);
        margin-top: -7px;
      }
    }
  }
}

.sp-menu-wrap {
  display: none;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  > div {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > a {
      h1 {
        width: 100px;
        height: auto;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
    ul {
      padding: 40px 24px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        a {
          display: flex;
          align-items: center;
          padding: 1em;
          border: 1px solid #000;
          border-radius: 100px;
          span {
            width: 60px;
            text-align: center;
          }
          img {
            height: 30px;
            width: auto;
          }
        }
      }
    }
  }
}

header {
  &#home-header {
    display: flex;
    position: fixed;
    top: 6px;
    left: 10px;
    z-index: 9999;
    @media screen and (min-width: width(sp)) {
      display: none;
    }//@media
    h1 {
      img {
        width: 77px;
        height: auto;
      }//img
    }//h1
  }//#home-header
  &#others-header {
    display: none;
    @media screen and (min-width: width(sp)) {
      display: block;
      div {
        display: flex;
        position: fixed;
        width: 100%;
        z-index: 9999;
        @media screen and (min-width: width(sp)) {
          background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,0));
          height: 100px;
          justify-content: flex-end;
        }//@media
        h1 {
          position: absolute;
          top: 6px;
          left: 10px;
          @media screen and (min-width: width(sp)) {
            top: 12px;
            left: 23px;
          }//@media
          img {
            width: 77px;
            height: auto;
            @media screen and (min-width: width(sp)) {
              width: 123px;
            }//@media
          }//img
        }//h1
        ul {
          display: flex;
          gap: 0 48px;
          position: absolute;
          top: 16px;
          right: 20px;
          li {
            a {
              display: flex;
              justify-content: center;
              flex-direction: column;
              color: #fff;
              img {
                width: auto;
                height: 36px;
                filter: invert(99%) sepia(0%) saturate(814%) hue-rotate(73deg) brightness(111%) contrast(100%);
                display: block;
                margin-bottom: 5px;
                &.logo {
                  filter: none;
                  width: 63px;
                  height: auto;
                  margin: auto;
                }//.logo
              }//img
            }//a
          }//li
        }//ul
      }//div
    }//@media
  }//#others-header
}//header