@mixin post($shadow) {
  display: block;
  @media screen and (min-width: width(sp)) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
  }//@media
  a {
    display: block;
    margin-bottom: 30px;
    box-shadow: $shadow;
    @media screen and (min-width: width(sp)) {
      margin-bottom: 0;
      width: 330px;
    }//@media
    dl {
      dt {
        width: 100%;
        img {
          width: 100%;
          height: auto;
        }//img
      }//dt
      dd {
        padding: 15px 15px 20px 15px;
        background-color: #fff;
        @media screen and (min-width: width(sp)) {
          padding: 25px 25px 30px 25px;
        }//@media
        data {
          text-align: right;
          display: block;
          font-size: .1rem;
          margin-bottom: 10px;
          @media screen and (min-width: width(sp)) {
            font-size: .12rem;
            margin-bottom: 20px;
          }//@media
        }//data
        h3 {
          font-size: .14rem;
          font-weight: $font_w_b;
          margin-bottom: 15px;
          @media screen and (min-width: width(sp)) {
            margin-bottom: 30px;
            font-size: .16rem;
          }//@media
        }//h3
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #17458F;
          font-size: .12rem;
          font-weight: $font_w_b;
          @media screen and (min-width: width(sp)) {
            font-size: .14rem;
          }//@media
          img {
            width: 20px;
            height: auto;
            margin-left: 10px;
            @media screen and (min-width: width(sp)) {
              width: 30px;
              margin-left: 20px;
            }//@media
          }
        }//span
      }//dd
    }//dl
  }//a
}