#food-top {
  @include titleArea;
  background-image: url('../images/food-image.jpg');
}//home-top

#food-main {
  position: relative;
  padding: 60px 24px;
  text-align: center;

  h2 {
    @include h2title();
  }

  .tab-menu {
    max-width: 1200px;
    margin: 0 auto;
    ul {
      display: flex;
      gap: 2px;
      margin-bottom: 40px;
      li {
        padding: 1em;
        background-color: #EFEFEF;
        width: 50%;
        cursor: pointer;
        @media screen and (min-width: width(sp)) {
          padding: 2em 1em;
        }

        &.active {
          background-color: #333;
          color: #fff;
        }
      }
    }
  }

  .tab-content {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    .content {
      display: none;
      &.active {
        display: block;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}