#infoS-top {
  @include titleArea;
  background-image: url('../images/news-image.jpg');
  background-position: bottom center;
}//home-top

#infoS-main {
  position: relative;
  z-index: 100;
  padding: 77px 24px 0 24px;
  width: 100%;
  @media screen and (min-width: width(sp)) {
    padding: 100px 24px 0 24px;
    max-width: 780px;
    margin: auto;
  }//@media
  article {
    
    > img {
      width: 100%;
      height: auto;
      margin-bottom: 24px;
      @media screen and (min-width: width(sp)) {
        margin-bottom: 42px;
      }//@media
    }//img

    dt {
      img {
        max-width: 100%;
        height: auto;
        margin-bottom: 1em;
      }
    }
    data {
      font-size: .12rem;
      margin-bottom: 24px;
      display: block;
      @media screen and (min-width: width(sp)) {
        font-size: .14rem;
        margin-bottom: 42px;
      }//@media
    }//data
    > h2 {
      font-size: .21rem;
      font-weight: bold;
      margin-bottom: 42px;
    }//h2
    div {
      margin-bottom: 100px;
      h2 {
        font-size: .18rem;
        font-weight: bold;
        margin-bottom: 32px;
        &::before {
          content: "-";
        }
      }
      h3 {
        font-size: .16rem;
        font-weight: bold;
        margin-bottom: 32px;
        &::before {
          content: "-";
        }
      }
      h4 {
        font-size: .14rem;
        font-weight: bold;
        margin-bottom: 32px;
        &::before {
          content: "-";
        }
      }
      p {
        font-size: .14rem;
        line-height: 2;
        margin-bottom: 32px;
      }
      img {
        width: 100%;
        height: auto;
        margin-bottom: 32px;
      }
    }//div
  }//article
  > a {
    font-size: .12rem;
    display: block;
    position: relative;
    width: 100%;
    height: 60px;
    border: 1px solid #000;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: width(sp)) {
      font-size: .14rem;
      width: 400px;
      margin: auto;
    }//@media
    img {
      width: 8px;
      height: auto;
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
      @media screen and (min-width: width(sp)) {
        width: 16px;
        left: 30px;
      }//@media
    }
  }//a
}

#infoS-bottom {
  padding: 100px 24px;
  h2 {
    @include h2title;
  }//h2
  .post {
    @media screen and (min-width: width(sp)) {
      display: flex;
      justify-content: center;
      margin: auto;
      gap: 0 30px;
    }//@media
    a {
      width: 100%;
      border-bottom: 1px solid #000;
      display: block;
      padding-bottom: 30px;
      margin-bottom: 30px;
      @media screen and (min-width: width(sp)) {
        max-width: 240px;
        border: none;
        padding: 0;
        margin: 0;
      }//@media
      dl {
        dt {
          display: none;
          @media screen and (min-width: width(sp)) {
            display: block;
            width: 100%;
            max-width: 240px;
            img {
              width: 240px;
              height: 240px;
              object-fit: cover;
            }//img
          }//@media
        }//dt
        dd {
          width: 100%;
          @media screen and (min-width: width(sp)) {
            max-width: 240px;
          }//@media
          data {
            font-size: .12rem;
            margin: 10px 0;
            display: block;
            @media screen and (min-width: width(sp)) {
              font-size: .14rem;
            }//@media
          }//data
          h3 {
            font-size: .14rem;
            @media screen and (min-width: width(sp)) {
              font-size: .16rem;
            }//@media
          }//h3
        }//dd
      }//dl
    }//a
  }
}