#party-top {
  @include titleArea;
  background-image: url('../images/party-image.jpg');
  background-position: top 70% center;
}//home-top

#party-info {
  padding-top: 60px;
  position: relative;
  z-index: 100;
  @media screen and (min-width: width(sp)) {
    padding-top: 90px;
  }//@media
  > div {
    position: relative;
    background-image: url('../images/bg-blueterras.png');
    margin: 141px 0 0 0;
    padding: 120px 24px 72px 24px;
    @media screen and (min-width: width(sp)) {
      padding: 72px 100px;
      margin: 141px 0 0 0;
    }//@media
    figure {
      width: 318px;
      height: 200px;
      position: absolute;
      top: -141px;
      left: -24px;
      @media screen and (min-width: width(sp)) {
        width: 50%;
        height: 400px;
        top: auto;
        bottom: 0;
      }//@media
      &.one {
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
      }//.one
      img {
        width: 100%;
        height: auto;
      }//img
    }//figure
    > div {
      @media screen and (min-width: width(sp)) {
        width: 50%;
        margin-left: 50%;
      }//@media
      h2 {
        font-size: .24rem;
        font-family: $mplus;
        margin-bottom: 24px;
        @media screen and (min-width: width(sp)) {
          margin-bottom: 40px;
        }//@media
      }//h2
      p {
        a {
          text-decoration: underline;
        }
      }
    }//div
  }//div
}//party-info

#party-cancelpolicy {
  background-color: #D9D9D9;
  padding: 72px 24px;
  position: relative;
  @media screen and (min-width: width(sp)) {
    padding: 72px 24px 184px 24px;
  }//@media
  h2 {
    @include h2title;
  }//h2
  div {
    @media screen and (min-width: width(sp)) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }//@media
    p {
      font-size: .16rem;
      font-family: $mplus;
    }
  }
}

#party-menu {
  padding: 120px 24px 0 24px;
  img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    @media screen and (min-width: width(sp)) {
      width: 1000px;
    }//@media
  }
}